---
import Icon from "../assets/restaurant-cutlery-circular-symbol-of-a-spoon-and-a-fork-in-a-circle.png";
---
<section class="bg-white">
  <div class="border-b-2">
    <div class="flex justify-center text-3xl text-orange-950 py-3 items-center">
      <img
        src={Icon.src}
        alt="restaurant-logo"
        class="w-8 h-8 mr-2"
      />
      <div>Fileminon</div>
    </div>
  </div>
  <div class="border-b-2">
    <div
      class="flex justify-center py-2 gap-8 md:gap-20 lg:gap-44 text-orange-950 px-6"
    >
      <div>Menu</div>
      <div class="hidden sm:block">Reservations</div>
      <div>About Us</div>
      <div>Contacts</div>
    </div>
  </div>
</section>
