---

---
<section class="sm:hidden flex flex-col">
    <h2 class="font-extrabold text-2xl text-center mb-10 border-2 border-[#281c1c] px-4 py-2">Appetizers</h2>
    <div class="text-left flex flex-col gap-4">
        <div class=" border-b-2 pb-3">Bruschetta al Pomodoro</div>
        <div class=" border-b-2 pb-3">Caprese Salad</div>
        <div class=" border-b-2 pb-3">Aranchini di Riso</div>
        <div class=" border-b-2 pb-3">Prosciutto e Melone</div>
        <div class=" border-b-2 pb-3">Burrata with Roasted Peppers</div>
    </div>
</section>